/* http://tympanus.net/Development/PricingTablesInspiration/  */

.action-grid {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: center;
	justify-content: center;
	width: 100%;
	margin: 0em;
	// padding: 0em;
	padding-top: 2rem;
	cursor: default;
	border: 1px;
	// background: #fff;
	// border-top: 1px solid $jass-green;
}

.todo-list {
	background: rgba(109, 54, 4, 0.3);
	padding-top: 0rem;
	border: 2px;
	border-top: 2px solid black;
}

.todo-list-good {
	background: rgba(79, 222, 79, 0.5);
	padding-top: 0rem;
	border: 2px;
	border-top: 2px solid green;
}

.action-hidden {
	display: none !important
}

.todo-list .action__item {
	-webkit-flex: 1 1 22rem;
	flex: 1 1 22rem;
	height: 32rem;

	&:hover {
		background: $light2-mud;

		.action__icon {
			// color: rgb(20, 134, 239);
			color: rgb(22, 140, 55);
		}
	}

	.action__text {
		font-size: 1.5rem;
		text-align: left;

		@media (max-width: 700px) {
			font-size: 1.1rem;
		}
	}

	// if they insist on using an iphone
	@media (max-width: 700px) {
		flex: 1 1 14rem;
		-webkit-flex: 1 1 14rem;
		height: 12rem;
	}
}


.action__item {
	-webkit-transition: 0.6s;
	transition: 0.6s;
	position: relative;
	display: -webkit-flex;
	display: flex;
	margin: 1rem;
	padding: 0rem;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: stretch;
	align-items: stretch;
	text-align: center;
	-webkit-flex: 1 1 20rem;
	flex: 1 1 20rem;
	background-color: rgba(255,255,255,0.3);
	box-shadow: 0 5px 20px rgba(0,0,0,0.05), 0 15px 30px -10px rgba(0,0,0,0.3);
	-webkit-transition: 0.6s;
	transition: 0.6s;
	border-radius: .4rem;	
	border: 1px solid #efe;
	font-size: 2rem;
	height: 22rem;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#feffe8+0,d6dbbf+100;Wax+3D+%231 */
	background: #feffe8; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #feffe8 0%, #d6dbbf 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg,  #feffe8 0%,#d6dbbf 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg,  #feffe8 0%,#d6dbbf 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffe8', endColorstr='#d6dbbf',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	&:focus, &:active {
		// background-color: rgba(255,255,255,0.6);
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fefefd+0,dce3c4+42,aebf76+100;Olive+3D+%231 */
		background: #fefefd; /* Old browsers */
		background: -moz-linear-gradient(-45deg,  #fefefd 0%, #dce3c4 42%, #aebf76 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(-45deg,  #fefefd 0%,#dce3c4 42%,#aebf76 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(135deg,  #fefefd 0%,#dce3c4 42%,#aebf76 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefd', endColorstr='#aebf76',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	}

	// if they insist on using an iphone
	@media (max-height: 740px) {
		flex: 1 1 14rem;
		-webkit-flex: 1 1 14rem;
		height: 12rem;
	}

	.action__title {
		transition: 0.6s;
		font-size: 2.6rem;
		width: 100%;
		margin: 0 0 0.25em;
		padding: 0 0 0.5em;
		// color: $sbs-blue;
		// color: rgba(74, 65, 56, 0.82);
		color: rgba(50, 9, 101, 0.75);
		border-top: 3px solid $sbs-box;
		font-family: 'Josefin Sans', sans-serif;
		font-weight: 800;

		// phones
		@media (max-height: 740px) {
			font-size: 2.2rem;
			padding: 0 0 0 0;
			margin: 0 0 0 0;
		}

	}

	.action__icon {
		transition: 0.6s;
		color: $mud-grey;
		width: 100%;
		font-size: 4.0rem;

		// if they insist on using an iphone
		@media (max-height: 740px) {
			font-size: 2.2rem;
		}

	}

	.action__text {
		transition: 0.6s;
		color: black;
		font-size: 1rem;
		font-style: italic;
		text-align: justify;
		padding: 1.2rem 3rem 0.3rem 3rem;
		text-justify: inter-word;
		border-top: 1px solid $jass-green-solid;
		height: 100%;

		// if they insist on using an iphone
		@media (max-height: 740px) {
			padding: 0.4rem 1rem 0.3rem 1rem;
			font-size: 1rem;
			border: none;
		}
	}

	&:hover {
		transition: 0.2s;
		// background-color: #ffef;
		// background-color: rgba(224, 232, 228, 0.68);
		// outline: 1px solid $sbs-ltblue;
		.action__title {
			transition: 0.2s;
			border-top: 3px solid $jass-green-solid;
		}
		.action__icon {
			transition: 0.4s;
			// color: $light-mud;
			// color: rgba(49, 46, 70, 0.86);
			color: rgb(21, 114, 125);
			width: 100%;
		}
		.action__text {
			border-bottom: 3px solid $jass-green-solid;
		}
	}

}
