<!-- Login Screen -->
<div class="container" id="loginform">
  <form>
    <fieldset>

      <label>Name</label>
      <input name="username" type="text" placeholder="User Name" autofocus>

      <label>Password</label>
      <input name="passwd" type="password" placeholder="Password">
      
      <!-- <input class="button button-outline" type="button" value="Cancel" id="l-cancelbtn"> -->
      <input id="sign-in" class="button button" type="submit" value="Sign In">
    </fieldset>
  </form>
</div>
